In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../joined_data/joined_data_CHR.csv")

In [92]:
df = df.drop('NAMELSAD', axis=1)
df = df.drop('MTFCC', axis=1)
df = df.drop('FUNCSTAT', axis=1)
df = df.drop('geometry', axis=1)
df = df.drop('pop_x', axis=1)
df = df.drop('pop_y', axis=1)
df = df.drop(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON'], axis=1)

In [3]:
for each in df.columns:
    print(each)

ct
male
female
Total_x
.50
.50-.99
1.00-1.24
1.25-1.49
1.50-1.84
1.85-1.99
2.00
Total_y
NoSchoolingCompleted
NurserySchool
Kindergarten
1St_Grade
2Nd_Grade
3Rd_Grade
4Th_Grade
5Th_Grade
6Th_Grade
7Th_Grade
8Th_Grade
9Th_Grade
10Th_Grade
11Th_Grade
12Th_Grade_NoDiploma
HighSchoolDiploma
AlternativeCredential
College1Year
College1MoreYears
Associate
Bachelor
Master
ProfessionalSchool
Doctorate
age_5
age_5_9
age_10_14
age_15_17
age_18_19
age_20
age_21
age_22_24
age_25_29
age_30_34
age_35_39
age_40_44
age_45_49
age_50_54
age_55_59
age_60_61
age_62_64
age_65_66
age_67_69
age_70_74
age_75_79
age_80_84
age_85
no_health_insurance_under18
no_health_insurance_18_34
no_health_insurance_35_64
no_health_insurance_65
white
black
native
asian
hawaiian
other
two
family_income
Total
10000
10000-14999
15000-19999
20000-24999
25000-29999
30000-34999
35000-39999
40000-44999
45000_49999
50000-59999
60000-74999
75000-99999
100000-124999
125000-149999
150000-199999
200000
household_median_income
pop
no_hispanic
hispanic

In [ ]:
df.rename(columns = {'Total_x': 'Total_poverty'}, inplace = True)
df.rename(columns = {'Total_y': 'Total_schooling'}, inplace = True)
df.rename(columns = {'Total': 'Total_family'}, inplace = True)

In [4]:
df.to_csv("../joined_data/joined_data_CHR.csv", index=False)

In [6]:
df

,ct,male,female,Total_x,.50,.50-.99,1.00-1.24,1.25-1.49,1.50-1.84,1.85-1.99,...,60000-74999,75000-99999,100000-124999,125000-149999,150000-199999,200000,household_median_income,pop,no_hispanic,hispanic
0,55001950100,1504,1431,2935,46,139,117,42,151,207,...,116,196,39,50,33,67,55562.00,2935,2923,12
1,55001950201,676,667,1343,38,172,52,47,76,46,...,76,34,48,2,9,3,41071.00,1343,1319,24
2,55001950202,1414,1167,2578,118,268,164,148,191,72,...,167,88,29,12,13,16,39897.00,2581,2509,72
3,55001950400,2260,2269,4337,305,512,464,228,335,145,...,147,179,66,25,33,16,36909.75,4529,4331,198
4,55001950501,841,670,1511,25,238,34,170,118,41,...,42,55,27,11,25,10,32805.00,1511,1442,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,55141011300,2090,2142,4133,103,225,141,306,332,28,...,253,219,118,88,44,24,46504.40,4232,4207,25
1386,55141011400,2205,2958,5145,181,285,555,399,193,200,...,405,283,125,42,89,26,40607.80,5163,5097,66
1387,55141011500,2897,2936,5820,99,79,121,158,150,139,...,362,374,400,147,246,81,75201.50,5833,5793,40
1388,55141011600,2570,2472,5014,257,316,167,255,141,479,...,195,314,280,36,40,16,52031.00,5042,5042,0
1389,55141011700,2157,2345,4377,350,439,192,225,328,196,...,225,245,76,57,19,21,44687.40,4502,4373,129

In [32]:
from scipy.io import savemat
import numpy as np

gnd = np.empty((1390,), dtype=np.uint8)
gnd.fill(0)
gnd = np.reshape(gnd, (1390, 1))
gnd

fea = df.to_numpy()
fea[:,:] = fea[:,:].astype(np.float64)
W = np.loadtxt("adjacency_matrix.txt", comments="#", delimiter=" ", unpack=False)
W[:,:] = W[:,:].astype(np.float64)

mdic = {}
mdic = {"fea": fea, "gnd": gnd, "W": W}
savemat("ct.mat", mdic)