In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("../joined_data/joined_data_CHR_simplified.csv")

In [8]:
df = df.drop('NAMELSAD', axis=1)
df = df.drop('MTFCC', axis=1)
df = df.drop('FUNCSTAT', axis=1)
df = df.drop('geometry', axis=1)
# df = df.drop('pop_x', axis=1)
# df = df.drop('pop_y', axis=1)
df = df.drop(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON'], axis=1)

In [9]:
for each in df.columns:
    print(each)

ct
poverty_score
median_age_no_insurance
hispanic_prop
MFratio
household_median_income
white
black
native
asian
hawaiian
Bachelor
Master
Doctorate
pop

In [10]:
df.rename(columns = {'Total_x': 'Total_poverty'}, inplace = True)
df.rename(columns = {'Total_y': 'Total_schooling'}, inplace = True)
df.rename(columns = {'Total': 'Total_family'}, inplace = True)

In [11]:
df.to_csv("../joined_data/joined_data_CHR.csv", index=False)

In [12]:
df

,ct,poverty_score,median_age_no_insurance,hispanic_prop,MFratio,household_median_income,white,black,native,asian,hawaiian,Bachelor,Master,Doctorate,pop
0,55001950100,5431.44,37.500000,0.004089,1.051013,55562.00,2853,0,7,0,0,332,146,24,2935
1,55001950201,2309.87,36.382979,0.017870,1.013493,41071.00,1297,0,11,0,0,94,30,0,1343
2,55001950202,4337.65,39.923077,0.027896,1.211654,39897.00,2529,5,7,0,0,118,58,3,2581
3,55001950400,6902.39,34.519634,0.043718,0.996033,36909.75,4322,41,16,44,0,277,119,3,4529
4,55001950501,2507.76,38.783898,0.045665,1.255224,32805.00,1469,35,7,0,0,82,21,0,1511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,55141011300,7401.59,40.608959,0.005907,0.975724,46504.40,3897,0,0,325,10,508,122,59,4232
1386,55141011400,8842.79,35.365741,0.012783,0.745436,40607.80,4901,117,12,119,0,462,139,32,5163
1387,55141011500,11126.11,30.387640,0.006858,0.986717,75201.50,5611,11,25,153,0,864,324,64,5833
1388,55141011600,8855.04,41.214041,0.000000,1.039644,52031.00,5009,0,33,0,0,239,160,0,5042
1389,55141011700,7245.62,31.664678,0.028654,0.919829,44687.40,4220,47,113,28,0,291,175,12,4502

In [13]:
from scipy.io import savemat
from scipy.io import loadmat
import numpy as np

gnd = np.empty((1390,), dtype=np.uint8)
gnd.fill(1)
gnd = np.reshape(gnd, (1390, 1))

fea = df.to_numpy()
fea[:,:] = fea[:,:].astype(np.float64)
W = np.loadtxt("adjacency_matrix.txt", comments="#", delimiter=" ", unpack=False)
W[:,:] = W[:,:].astype(np.float64)

mdic = {}
mdic = {"fea": fea, "gnd": gnd, "W": W}
savemat("ct.mat", mdic)

In [14]:
mat_contents = loadmat("ct.mat")
mat_contents

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Tue Nov 22 22:22:16 2022',
 '__version__': '1.0',
 '__globals__': [],
 'fea': array([[5.50019501e+10, 5.43144000e+03, 3.75000000e+01, ...,
         1.46000000e+02, 2.40000000e+01, 2.93500000e+03],
        [5.50019502e+10, 2.30987000e+03, 3.63829787e+01, ...,
         3.00000000e+01, 0.00000000e+00, 1.34300000e+03],
        [5.50019502e+10, 4.33765000e+03, 3.99230769e+01, ...,
         5.80000000e+01, 3.00000000e+00, 2.58100000e+03],
        ...,
        [5.51410115e+10, 1.11261100e+04, 3.03876404e+01, ...,
         3.24000000e+02, 6.40000000e+01, 5.83300000e+03],
        [5.51410116e+10, 8.85504000e+03, 4.12140411e+01, ...,
         1.60000000e+02, 0.00000000e+00, 5.04200000e+03],
        [5.51410117e+10, 7.24562000e+03, 3.16646778e+01, ...,
         1.75000000e+02, 1.20000000e+01, 4.50200000e+03]]),
 'gnd': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]], dtype=uint8),
 'W': array([[1., 1., 0., ..., 0., 0., 0.],
        [1., 1., 0., ..., 0., 0., 0.],
        [0., 0., 1., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 0., 1., 1.],
        [0., 0., 0., ..., 0., 1., 1.]])}