In [89]:
import pandas as pd

In [90]:
df = pd.read_csv("../joined_data/joined_data_CHR.csv")

In [91]:
df

,ct,male,female,Total_x,.50,.50-.99,1.00-1.24,1.25-1.49,1.50-1.84,1.85-1.99,...,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,55001950100,1504,1431,2935,46,139,117,42,151,207,...,55001950100,9501.00,Census Tract 9501,G5020,S,233951801,17547549,44.202274,-89.746890,"POLYGON ((-89.927022 44.193674, -89.9267859999..."
1,55001950201,676,667,1343,38,172,52,47,76,46,...,55001950201,9502.01,Census Tract 9502.01,G5020,S,110142594,7642055,44.003147,-89.887676,"POLYGON ((-90.018767 44.047719, -90.018701 44...."
2,55001950202,1414,1167,2578,118,268,164,148,191,72,...,55001950202,9502.02,Census Tract 9502.02,G5020,S,467891428,50528185,44.088808,-89.770574,"POLYGON ((-90.026378 44.087205999999995, -90.0..."
3,55001950400,2260,2269,4337,305,512,464,228,335,145,...,55001950400,9504.00,Census Tract 9504,G5020,S,235590227,1195071,43.940747,-89.737699,"POLYGON ((-89.937725 43.96629, -89.937377 43.9..."
4,55001950501,841,670,1511,25,238,34,170,118,41,...,55001950501,9505.01,Census Tract 9505.01,G5020,S,114019282,19754029,43.881719,-89.896239,"POLYGON ((-89.984191 43.911815, -89.983969 43...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,55141011300,2090,2142,4133,103,225,141,306,332,28,...,55141011300,113.00,Census Tract 113,G5020,S,12013212,1425599,44.364365,-89.837272,"POLYGON ((-89.859371 44.361943, -89.859279 44...."
1386,55141011400,2205,2958,5145,181,285,555,399,193,200,...,55141011400,114.00,Census Tract 114,G5020,S,11657150,341824,44.367309,-89.803386,"POLYGON ((-89.817194 44.386061, -89.817178 44...."
1387,55141011500,2897,2936,5820,99,79,121,158,150,139,...,55141011500,115.00,Census Tract 115,G5020,S,33527893,605288,44.365464,-89.759125,"POLYGON ((-89.80564 44.343726, -89.802447 44.3..."
1388,55141011600,2570,2472,5014,257,316,167,255,141,479,...,55141011600,116.00,Census Tract 116,G5020,S,128689803,4188672,44.284962,-89.798004,"POLYGON ((-89.91256299999999 44.273437, -89.91..."
1389,55141011700,2157,2345,4377,350,439,192,225,328,196,...,55141011700,117.00,Census Tract 117,G5020,S,24304221,1663394,44.331101,-89.911754,"POLYGON ((-89.929537 44.308614999999996, -89.9..."

In [92]:
df = df.drop('NAMELSAD', axis=1)
df = df.drop('MTFCC', axis=1)
df = df.drop('FUNCSTAT', axis=1)
df = df.drop('geometry', axis=1)
df = df.drop('pop_x', axis=1)
df = df.drop('pop_y', axis=1)
df = df.drop(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON'], axis=1)

In [93]:
for each in df.columns:
    print(each)

ct
male
female
Total_x
.50
.50-.99
1.00-1.24
1.25-1.49
1.50-1.84
1.85-1.99
2.00
Total_y
NoSchoolingCompleted
NurserySchool
Kindergarten
1St_Grade
2Nd_Grade
3Rd_Grade
4Th_Grade
5Th_Grade
6Th_Grade
7Th_Grade
8Th_Grade
9Th_Grade
10Th_Grade
11Th_Grade
12Th_Grade_NoDiploma
HighSchoolDiploma
AlternativeCredential
College1Year
College1MoreYears
Associate
Bachelor
Master
ProfessionalSchool
Doctorate
age_5
age_5_9
age_10_14
age_15_17
age_18_19
age_20
age_21
age_22_24
age_25_29
age_30_34
age_35_39
age_40_44
age_45_49
age_50_54
age_55_59
age_60_61
age_62_64
age_65_66
age_67_69
age_70_74
age_75_79
age_80_84
age_85
no_health_insurance_under18
no_health_insurance_18_34
no_health_insurance_35_64
no_health_insurance_65
white
black
native
asian
hawaiian
other
two
family_income
Total
10000
10000-14999
15000-19999
20000-24999
25000-29999
30000-34999
35000-39999
40000-44999
45000_49999
50000-59999
60000-74999
75000-99999
100000-124999
125000-149999
150000-199999
200000
household_median_income
pop
no_hispanic
hispanic

In [ ]:
df.rename(columns = {'Total_x': 'Total_poverty'}, inplace = True)
df.rename(columns = {'Total_y': 'Total_schooling'}, inplace = True)
df.rename(columns = {'Total': 'Total_family'}, inplace = True)