In [1]:
import pandas as pd
import re
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# use joined data
# df_joined = pd.read_csv ('Joined_data.csv')
df_joined = pd.read_csv ('../joined_data/joined_data_CHR.csv')

df_joined

,ct,male,female,Total_x,.50,.50-.99,1.00-1.24,1.25-1.49,1.50-1.84,1.85-1.99,...,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,55001950100,1504,1431,2935,46,139,117,42,151,207,...,55001950100,9501.00,Census Tract 9501,G5020,S,233951801,17547549,44.202274,-89.746890,"POLYGON ((-89.927022 44.193674, -89.9267859999..."
1,55001950201,676,667,1343,38,172,52,47,76,46,...,55001950201,9502.01,Census Tract 9502.01,G5020,S,110142594,7642055,44.003147,-89.887676,"POLYGON ((-90.018767 44.047719, -90.018701 44...."
2,55001950202,1414,1167,2578,118,268,164,148,191,72,...,55001950202,9502.02,Census Tract 9502.02,G5020,S,467891428,50528185,44.088808,-89.770574,"POLYGON ((-90.026378 44.087205999999995, -90.0..."
3,55001950400,2260,2269,4337,305,512,464,228,335,145,...,55001950400,9504.00,Census Tract 9504,G5020,S,235590227,1195071,43.940747,-89.737699,"POLYGON ((-89.937725 43.96629, -89.937377 43.9..."
4,55001950501,841,670,1511,25,238,34,170,118,41,...,55001950501,9505.01,Census Tract 9505.01,G5020,S,114019282,19754029,43.881719,-89.896239,"POLYGON ((-89.984191 43.911815, -89.983969 43...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,55141011300,2090,2142,4133,103,225,141,306,332,28,...,55141011300,113.00,Census Tract 113,G5020,S,12013212,1425599,44.364365,-89.837272,"POLYGON ((-89.859371 44.361943, -89.859279 44...."
1386,55141011400,2205,2958,5145,181,285,555,399,193,200,...,55141011400,114.00,Census Tract 114,G5020,S,11657150,341824,44.367309,-89.803386,"POLYGON ((-89.817194 44.386061, -89.817178 44...."
1387,55141011500,2897,2936,5820,99,79,121,158,150,139,...,55141011500,115.00,Census Tract 115,G5020,S,33527893,605288,44.365464,-89.759125,"POLYGON ((-89.80564 44.343726, -89.802447 44.3..."
1388,55141011600,2570,2472,5014,257,316,167,255,141,479,...,55141011600,116.00,Census Tract 116,G5020,S,128689803,4188672,44.284962,-89.798004,"POLYGON ((-89.91256299999999 44.273437, -89.91..."
1389,55141011700,2157,2345,4377,350,439,192,225,328,196,...,55141011700,117.00,Census Tract 117,G5020,S,24304221,1663394,44.331101,-89.911754,"POLYGON ((-89.929537 44.308614999999996, -89.9..."

In [3]:
import pandas as pd
import re
import geopandas as gpd
import numpy as np
import libpysal.weights as weights
import libpysal

In [4]:
kd = libpysal.cg.KDTree(np.array(df_joined[["INTPTLAT","INTPTLON"]].values))
wnn = libpysal.weights.KNN(kd, 3)
nearest_pt = pd.DataFrame().from_dict(wnn.neighbors, orient="index")
for i in range(nearest_pt.shape[1]):
    nearest_pt = nearest_pt.rename({i:f"n_pt_{i}"}, axis=1)
nearest_pt.head(1)
print(nearest_pt)

      n_pt_0  n_pt_1  n_pt_2
0       1388       2    1387
1          4       2       3
2          0       1       3
3          5       2       1
4          1     403       5
...      ...     ...     ...
1385    1386    1384    1387
1386    1385    1387    1382
1387    1386    1382    1385
1388    1386    1385    1387
1389    1384    1385    1381

[1390 rows x 3 columns]

In [5]:
df_joined.reset_index(inplace=True)
df_joined

,index,ct,male,female,Total_x,.50,.50-.99,1.00-1.24,1.25-1.49,1.50-1.84,...,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,0,55001950100,1504,1431,2935,46,139,117,42,151,...,55001950100,9501.00,Census Tract 9501,G5020,S,233951801,17547549,44.202274,-89.746890,"POLYGON ((-89.927022 44.193674, -89.9267859999..."
1,1,55001950201,676,667,1343,38,172,52,47,76,...,55001950201,9502.01,Census Tract 9502.01,G5020,S,110142594,7642055,44.003147,-89.887676,"POLYGON ((-90.018767 44.047719, -90.018701 44...."
2,2,55001950202,1414,1167,2578,118,268,164,148,191,...,55001950202,9502.02,Census Tract 9502.02,G5020,S,467891428,50528185,44.088808,-89.770574,"POLYGON ((-90.026378 44.087205999999995, -90.0..."
3,3,55001950400,2260,2269,4337,305,512,464,228,335,...,55001950400,9504.00,Census Tract 9504,G5020,S,235590227,1195071,43.940747,-89.737699,"POLYGON ((-89.937725 43.96629, -89.937377 43.9..."
4,4,55001950501,841,670,1511,25,238,34,170,118,...,55001950501,9505.01,Census Tract 9505.01,G5020,S,114019282,19754029,43.881719,-89.896239,"POLYGON ((-89.984191 43.911815, -89.983969 43...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,1385,55141011300,2090,2142,4133,103,225,141,306,332,...,55141011300,113.00,Census Tract 113,G5020,S,12013212,1425599,44.364365,-89.837272,"POLYGON ((-89.859371 44.361943, -89.859279 44...."
1386,1386,55141011400,2205,2958,5145,181,285,555,399,193,...,55141011400,114.00,Census Tract 114,G5020,S,11657150,341824,44.367309,-89.803386,"POLYGON ((-89.817194 44.386061, -89.817178 44...."
1387,1387,55141011500,2897,2936,5820,99,79,121,158,150,...,55141011500,115.00,Census Tract 115,G5020,S,33527893,605288,44.365464,-89.759125,"POLYGON ((-89.80564 44.343726, -89.802447 44.3..."
1388,1388,55141011600,2570,2472,5014,257,316,167,255,141,...,55141011600,116.00,Census Tract 116,G5020,S,128689803,4188672,44.284962,-89.798004,"POLYGON ((-89.91256299999999 44.273437, -89.91..."
1389,1389,55141011700,2157,2345,4377,350,439,192,225,328,...,55141011700,117.00,Census Tract 117,G5020,S,24304221,1663394,44.331101,-89.911754,"POLYGON ((-89.929537 44.308614999999996, -89.9..."

In [6]:

df_joined = df_joined.join(nearest_pt)
df_joined.head(1)

,index,ct,male,female,Total_x,.50,.50-.99,1.00-1.24,1.25-1.49,1.50-1.84,...,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,n_pt_0,n_pt_1,n_pt_2
0,0,55001950100,1504,1431,2935,46,139,117,42,151,...,G5020,S,233951801,17547549,44.202274,-89.74689,"POLYGON ((-89.927022 44.193674, -89.9267859999...",1388,2,1387

In [7]:
col_names_joined = pd.Series(df_joined.columns)
col_names_joined
print('All joined attributes \n',df_joined.columns.to_list(),'\n')
algo_input_addtri = ["n_pt_0", "n_pt_1", "n_pt_2"]
algo_input_addtri.append("male")
algo_input_addtri.append("female")
# geo_attrib = ['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC',
#        'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry', 'ct', 'index']
# for each in col_names_joined:
#     if((each not in algo_input_addtri) and(each not in geo_attrib) ):
#         algo_input_addtri.append(each)
#         print(each)
    

# print(algo_input_addtri)

All joined attributes
 ['index', 'ct', 'male', 'female', 'Total_x', '.50', '.50-.99', '1.00-1.24', '1.25-1.49', '1.50-1.84', '1.85-1.99', '2.00', 'Total_y', 'NoSchoolingCompleted', 'NurserySchool', 'Kindergarten', '1St_Grade', '2Nd_Grade', '3Rd_Grade', '4Th_Grade', '5Th_Grade', '6Th_Grade', '7Th_Grade', '8Th_Grade', '9Th_Grade', '10Th_Grade', '11Th_Grade', '12Th_Grade_NoDiploma', 'HighSchoolDiploma', 'AlternativeCredential', 'College1Year', 'College1MoreYears', 'Associate', 'Bachelor', 'Master', 'ProfessionalSchool', 'Doctorate', 'age_5', 'age_5_9', 'age_10_14', 'age_15_17', 'age_18_19', 'age_20', 'age_21', 'age_22_24', 'age_25_29', 'age_30_34', 'age_35_39', 'age_40_44', 'age_45_49', 'age_50_54', 'age_55_59', 'age_60_61', 'age_62_64', 'age_65_66', 'age_67_69', 'age_70_74', 'age_75_79', 'age_80_84', 'age_85', 'no_health_insurance_under18', 'no_health_insurance_18_34', 'no_health_insurance_35_64', 'no_health_insurance_65', 'pop_x', 'white', 'black', 'native', 'asian', 'hawaiian', 'other', 'two', 'family_income', 'Total', '10000', '10000-14999', '15000-19999', '20000-24999', '25000-29999', '30000-34999', '35000-39999', '40000-44999', '45000_49999', '50000-59999', '60000-74999', '75000-99999', '100000-124999', '125000-149999', '150000-199999', '200000', 'household_median_income', 'pop_y', 'pop', 'no_hispanic', 'hispanic', 'STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC', 'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'geometry', 'n_pt_0', 'n_pt_1', 'n_pt_2']

In [8]:
import copy
df_joined[algo_input_addtri].to_csv(r'synthetic_data_joined.txt', header=None, index=True, sep=',')
print(df_joined.shape)
final_input_attri = copy.copy(algo_input_addtri)
final_input_attri.insert(0,"id")
print(final_input_attri)

(1390, 111)
['id', 'n_pt_0', 'n_pt_1', 'n_pt_2', 'male', 'female']

In [9]:

synthetic_data_input = pd.read_table(r'synthetic_data_joined.txt', sep=',', names=final_input_attri)
synthetic_data_input = synthetic_data_input.set_index("id")
# synthetic_data_input

np.where(pd.isnull(synthetic_data_input))
# synthetic_data_input.loc[74].tolist()
# w_voronoi = weights.Voronoi.from_dataframe(prev)

(array([], dtype=int64), array([], dtype=int64))

In [18]:
# prev[["DP03_0001E", "DP03_0001PE", 
#                 "DP03_0002E", 
#                 "DP03_0002PE", "DP03_0003E"]] = synthetic_data_input[["DP03_0001E", "DP03_0001PE", 
#                 "DP03_0002E", 
#                 "DP03_0002PE", "DP03_0003E"]]
# prev.head(1)

#find last 
colums_name = synthetic_data_input.columns
for i in range(len(synthetic_data_input.columns)):
#     print(colums_name[i])
    if("female" == colums_name[i]):
        print("last index", i+1)
    if("n_pt_2" == colums_name[i]):
        print("last neighbor index", i+1)
synthetic_data_input.shape

last neighbor index 3
last index 5

(1390, 5)

In [11]:
# w_voronoi = weights.Voronoi.from_dataframe(prev)

In [15]:
# !rm -rf result_synthetic_data_joined.txt
!python STICC_main.py --fname=synthetic_data_joined.txt --oname=result_synthetic_data_joined.txt --attr_idx_start=4 \
--attr_idx_end=5 --spatial_idx_start=1 --spatial_idx_end=3 \
--spatial_radius=3 --number_of_clusters 3 --lambda_parameter 0.01 --beta 3 --maxIters 20

lam_sparse 0.01
switch_penalty 3.0
num_cluster 3
num stacked 3
completed getting the data
2 (1390, 2) (1390, 3)

Traceback (most recent call last):
  File "STICC_main.py", line 34, in <module>
    (cluster_assignment, cluster_MRFs) = sticc.fit(input_file=args.fname)
  File "D:\539-Artificial-Neural-Networks\STICC-GCC-NEW\STICC-GCC\STICC-part\STICC_solver.py", line 98, in fit
    complete_D_train = self.stack_training_data(total_arr, spatial_series_col_size, num_train_points,
  File "D:\539-Artificial-Neural-Networks\STICC-GCC-NEW\STICC-GCC\STICC-part\STICC_solver.py", line 359, in stack_training_data
    n] = Data[int(Data[i][n + k])][1:(n + 1)]
IndexError: index 1504 is out of bounds for axis 0 with size 1390